<nav class="navbar navbar-default ">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <img src="../assets/pictures/windsock.svg" width="30" height="30"
                class="d-inline-block align-top" alt="">
            Max's Weather App
        </a>
        <span>
            <button (click)="showWeatherForm()" type="button" class="btn btn-link mr-1"
                tooltip="Enter wind and weather information to view airports">
            Weather Form
        </button>
        </span>

        <span>
        <button type="button" class="btn btn-link" tooltip="Airports meeting the search criteria">
            Results Table
        </button>
        </span>
    </div>
</nav>

<app-weatherform *ngIf="weatherFormVisible"></app-weatherform>
