<h2>Max's Weather App</h2>

<nav class="navbar navbar-default">
    <div class="navbar-header">
        <span>
            <button type="button" class="btn btn-primary mr-1" tooltip="Enter wind and weather information to view airports">
            Weather Form
        </button>
        </span>

        <span>
        <button type="button" class="btn btn-primary" tooltip="Airports meeting the search criteria">
            Results Table
        </button>
        </span>
    </div>
</nav>


<app-weatherform></app-weatherform>
